/* Page layout */
body {
    background-image: url('chem_pumper.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

tr {
    margin: 0.5rem;
}

th {
    padding-top: 0.5rem;
    min-width: 220px;
}

td {
    padding-right: 1rem;
    min-width: 220px;
}

.wrapper {
    background-color: rgba(245, 245, 245, 0.92);
    display: flex;
    margin: 0 auto;
    overflow: hidden;
    padding: 2rem;
    width: 700px;
    height: calc(100vh - 123px);
}

.box {
    background-color: whitesmoke;
    border: 2px solid rgb(74, 66, 53);
    border-radius: 7px;    width: 650px;
    height: 95%;
    margin-top: 3vh;
    margin-bottom: 2.5vh;
    overflow-y: auto;
    padding: 20px;
}

head {
    height: 83px;
}

.footer {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    left: 0;
    bottom: 0;
    position: relative;
    margin-top: auto;
    width: 100%;
}

.footer-text {
    text-color: rgb(144, 144, 144);
    text-align: center;
}

.meme {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.apology {
    object-fit: contain;
    width: 100%;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    min-height: 550px;
}

.text {
    border: 1px solid rgb(74, 66, 53);
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    min-width: 75px;
    padding: 0.5rem;
}

.select-change {
    border: 1px solid rgb(74, 66, 53);
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    padding: 0.5rem;
    text-align: left;
}

.label {
    margin-top: 0.5rem;
}

/* Text */
.title {
    font-family: 'Playfair Display', serif;
    text-align: center;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-patch {
    max-height: 400px;
}

.login-text {
    margin-top: 1rem;
}

.sub-title {
    text-align: center;
}

.date {
    text-align: center;
}

/* Buttons, selects */
.button {
    border: 1px solid rgb(74, 66, 53);
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    margin-top: 1rem;
    min-width: 75px;
    padding: 0.5rem;
    text-align: center;
}

.select-main {
    border: 1px solid rgb(74, 66, 53);
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    margin-top: 1rem;
    min-width: 75px;
    padding: 0.5rem;
    text-align: left;
}

.select-form {
    border: 1px solid rgb(74, 66, 53);
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    text-align: left;
}

.br-full {
    display: block;
    margin-bottom: 1em;
}

.br-half {
    display: block;
    margin-bottom: 0.5em;
}

.apology {
    max-width: 635px;
}

.off_shift_hours #to {
    display: inline;
}

/* Form validation w/ JS: */
#master_error {
    visibility: hidden;
}

.input-control {
    display: flex;
    flex-direction: column;
}

.input-control input {
    display: block;
    width: 100%; 
}

.input-control input:focus {
    outline: 3;
}

.input-control.success input {
    border-color: green;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 10;
}

#master_error {
    color: #ff3860;
}


/* for tablets & cell phones */
@media only screen and (max-width: 700px) {
    [class*="wrapper"] {
        width: 100%;
    }

    #print {
        visibility: hidden;
    }
    
    [class*="button"] {
        width: 100%;
    }

    [class*="select-form"] {
        width: 100%;
    }

    [class*="select-main"] {
        width: 100%;
    }
}

@media only screen and (max-height: 800) {
    [class*="box"] {
        min-height: 550px;
    }
}

@media only screen and (max-width: 472px) {
    [class*="login-patch"] {
        width: 70vw;
    }

    [class*="login-text"] {
        width: 70vw;
    }

    [class*="login-box"] {
        height: 85vh;
    }

    [class*="wrapper"] {
        overflow: auto;
    }
}

@media (max-width: 500px) {
    td {
        display: block;
    }

    [class*="col2"] {
        visibility: hidden;
    }

    [class*="box"] {
        width: calc(100vw - 65px);
    }
}