/* Page layout */
body {
    background-image: url('chem_pumper.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    background-color: rgba(214, 214, 206, 0.87);
    margin: 0 auto;
    min-height: 100vh;
    padding: 2rem;
    width: 700px;
}

.box {
    /* width: 400px; */
    /*margin: 8vh auto 0 auto;*/
    padding: 20px;
    background-color: whitesmoke;
}

/* Text */
.title {
    font-family: 'Playfair Display', serif;
    text-align: center;
}

.sub-title {
    text-align: center;
}

/* Form validation w/ JS: */


#form button {
    padding: 10px;
    margin-top: 13px;
    width: 100%;
    color: lightgreen;
    border: none;
    border-radius: 4px;
}

#master_error {
    visibility: hidden;
}

.input-control {
    display: flex;
    flex-direction: column;
}

.input-control input {
    border: 2px solid blueviolet;
    border-radius: 4px;
    display: block;
    font-size: 12px;
    padding: 10px;
    width: 100%; 
}

.input-control input:focus {
    outline: 3;
}

.input-control.success input {
    border-color: green;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 10;
/*    margin: 2px;
    height: 13px;*/
}

#master_error {
    color: #ff3860;
}