{% extends "layout.html" %}

{% block title %}
    Add Member
{% endblock %}

{% block main %}
    <div class="container">
        <img src="static/patch.jpg">
        <form action="/add_member" class="centered" method="post">
            <input autocomplete="off" class="mx-auto w-auto" id="username" name="username" placeholder="Username" type="text"><br>
            <input autocomplete="off" class="mx-auto w-auto" id="first_name" name="first_name" placeholder="First name" type="text">
            <input autocomplete="off" class="mx-auto w-auto" id="last_name" name="last_name" placeholder="Last name" type="text"><br>
            <input autocomplete="off" class="mx-auto w-auto" id="password" name="password" placeholder="Password" type="text"><br>

            <input id="firefighter" name="rank" type="radio" value="firefighter">
                <label for="firefighter">Firefighter &nbsp;&nbsp;</label>
            <input id="lieutenant" name="rank" type="radio" value="lieutenant">
                <label for="lieutenant">Lieutenant &nbsp;&nbsp;</label>
            <input id="captain" name="rank" type="radio" value="captain">
                <label for="captain">Captain &nbsp;&nbsp;</label>
            <input id="deputy" name="rank" type="radio" value="deputy">
                <label for="deputy">Deputy Chief &nbsp;&nbsp;</label>
            <input id="chief" name="rank" type="radio" value="chief">
                <label for="chief">Chief </label><br>
            
            <input id="1" name="platoon" type="radio" value="1">
                <label for="1">Platoon 1 &nbsp;&nbsp;</label>
            <input id="2" name="platoon" type="radio" value="2">
                <label for="2">Platoon 2 &nbsp;&nbsp;</label>
            <input id="3" name="platoon" type="radio" value="3">
                <label for="3">Platoon 3 &nbsp;&nbsp;</label>
            <input id="4" name="platoon" type="radio" value="4">
                <label for="4">Platoon 4 &nbsp;&nbsp;</label>
            <input id="admin" name="platoon" type="radio" value="Admin">
                <label for="admin">Admin </label><br>

            <input id="active" name="active" type="radio" value="1">
                <label for="active">Active </label>
            <input id="inactive" name="active" type="radio" value="0">
                <label for="inactive">Inactive </label><br>

            <input id="elligible" name="elligibility" type="radio" value="1">
                <label for="elligible">Elligible </label>
            <input id="inelligible" name="elligibility" type="radio" value="0">
                <label for="inelligible">Inelligible </label>

            <button class="button" type="submit">Register</button>
        </form>
    </div>
{% endblock %}