{% extends "layout.html" %}

{% block title %}
    Add Member
{% endblock %}

{% block head %}
    <script defer src="static/inputs.js"></script>
    <link rel="stylesheet" href="static/watchOffice.css">
{% endblock %}

{% block main %}
    <div class="container">
        <form action="/add_member" id="form" method="post">

            <h1>Add Member</h1>

            <div class="input-control">
                <label for="username">Username</label>
                <input autocomplete="off" id="username" name="username" placeholder="" type="text">
                <div class="error"></div>
            </div>

            <div class="input-control">
                <label for="first_name">First name</label>
                <input autocomplete="off" id="first_name" name="first_name" placeholder="" type="text">
                <div class="error"></div>
            </div>
            
            <div class="input-control">
                <label for="last_name">Last name</label>
                <input autocomplete="off" id="last_name" name="last_name" placeholder="" type="text">
                <div class="error"></div>
            </div>        

            <div class="input-control">
                <label for="password">Password</label>
                <input autocomplete="off" id="password" name="password" placeholder="" type="text">
                <div class="error"></div>
            </div>

            <div class="input-control">
                <label for="password2">Confirm password</label>
                <input autocomplete="off" id="password2" name="password2" placeholder="" type="text">
                <div class="error"></div>
            </div>

            <div class="input-control">
                <label for="rank">Rank</label>
                <select id="rank" name="rank">
                    <option value="firefighter">Firefighter</option>
                    <option value="lieuntenant">Lieutenant</option>
                    <option value="captain">Captain</option>
                    <option value="deputy">Deputy Chief</option>
                    <option value="AC">Assistant Chief</option>
                    <option value="chief">Chief</option>
                </select>
                <div class="error"></div>
            </div>

            <div class="input-control">
                <label for="platoon">Platoon</label>
                <select id="platoon" name="platoon">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="admin">Admin</option>
                </select>
                <div class="error"></div>
            </div>

            <div class="input-control">
                <label for="active">Active status</label>
                <select id="active" name="active">
                    <option value="active">active</option>
                    <option value="inactive">inactive</option>
                </select>
                <div class="error"></div>
            </div>

            <div class="input-control">
                <label for="elligibility">Elligible for OT:</label>
                <select id="elligibility" name="elligibility">
                    <option value="1">elligible</option>
                    <option value="0">inelligible</option>
                </select>
                <div class="error"></div>
            </div>

            <button class="button" type="submit">Register</button>
        </form>
    </div>
{% endblock %}