{% extends "layout.html" %}

{% block title %}
    Change Member - Select Member
{% endblock %}

{% block head %}
    <script defer src="static/change.js"></script>
    <link rel="stylesheet" href="static/watchOffice.css">
{% endblock %}

{% block main %}
    <div class="container">
        <form action="/change_member" id="form" method="post">
            <h1 class="title">Change member</h1>

            <div class="input-control">
                <label for="member">Member</label>
                <select class="member" id="member" name="member">
                    <option selected value=""></option>
                    {% for member in member_list %}
                        <option value="{{ member['username'] }}">{{ member['last_name'] }}, {{ member['first_name'] }}</option>
                    {% endfor %}
                </select>
                <div class="error"></div>
            </div>

            <div class="input-control">
                <div class="input-control">
                    <label for="username">Username</label>
                    <input autocomplete="off" class="mx-auto w-auto" id="username" name="username" placeholder="" type="text">
                    <div class="error"></div>
                </div>

                <div class="input-control">
                    <label for="password">Password</label>
                    <input autocomplete="off" class="mx-auto w-auto" id="password" name="password" placeholder="" type="text">
                    <div class="error"></div>
                </div>

                <div class="input-control">
                    <label for="confirm_password">Confirm password</label>
                    <input autocomplete="off" class="mx-auto w-auto" id="confirm_password" name="confirm_password" placeholder="" type="text">
                    <div class="error"></div>
                </div>

                <div class="input-control">
                    <label for="first">First name</label>
                    <input autocomplete="off" class="mx-auto w-auto" id="first" name="first" placeholder="" type="text">                
                    <div class="error"></div>
                </div>

                <div class="input-control">
                    <label for="last">Last name</label>
                    <input autocomplete="off" class="mx-auto w-auto" id="last" name="last" placeholder="" type="text">                    
                    <div class="error"></div>
                </div>

                <div class="input-control">
                    <label for="rank">Rank</label>
                    <select id="rank" name="rank">
                        <option selected name="blank" value=""></option>
                        <option name="firefighter" value="firefighter">Firefighter</option>
                        <option name="lieutenant" value="lieutenant">Lieutenant</option>
                        <option name="captain" value="captain">Captain</option>
                        <option name="deputy" value="deputy">Deputy Chief</option>
                        <option name="ac" value="ac">Assistant Chief</option>
                        <option name="chief" value="chief">Chief</option>
                    </select>
                    <div class="error"></div>
                </div>
            
                <div class="input-control">
                    <label for="platoon">Platoon</label>
                    <select id="platoon" name="platoon">
                        <option selected name="blank" value=""></option>
                        <option name="1" value="1">1</option>
                        <option name="2" value="2">2</option>
                        <option name="3" value="3">3</option>
                        <option name="4" value="4">4</option>
                        <option name="admin" value="admin">Admin</option>
                    </select>          
                    <div class="error"></div>
                </div>

                <div class="input-control">
                    <label for="elligibility">Overtime elligibility</label>
                    <select id="elligibility" name="elligible">
                        <option selected name="blank" value="2"></option>
                        <option name="elligible" value="1">Elligible</option>
                        <option name="inelligible" value="0">Inelligible</option>
                    </select>          
                    <div class="error"></div>
                </div>

                <div id="master_error">No changes submitted</div>
            </div>

            <button class="button" type="submit">Update Member</button>

        </form>
    </div>

{% endblock %}