{% extends "layout.html" %}

{% block title %}
    Change Member - Select Member
{% endblock %}

{% block main %}
    <h1>Change member</h1>
    <form action="/change_member_a" method="post">
        <select class="member" id="member" name="member" required>
            {% for member in member_list %}
                <option value="{{ member['username'] }}"">{{ member['username'] }}</option>
            {% endfor %}
        </select>
        <button type="submit">Select</button>
    </form>
{% endblock %}