{% extends "layout.html" %}

{% block title %}
    Hired
{% endblock %}

{% block main %}
    <!-- "Officer __ and Firefighter __ are up" -->
    <h1>Platoon {{ platoon }} Hiring</h1>
    <form action="/hired" class="centered" method="post">
        <h2>First Cover Day</h2>
        <table>
            <tr>
                <th>Officers</th>
            </tr>
            {% if officers_day_1 == [] and officers_night_1 == [] %}
                <tr>
                    <td>No officers hiring</td>
                </tr>
            {% else %}
                {% for opening in officers_day_1 %}
                    {% if opening['person_off'] == 'unavailable' %}
                        <tr>
                            <td> {{ opening['person_covering'] }} unavailable - Day</td>
                        </tr>      
                    {% else %}          
                        <tr>
                            <td> {{ opening['person_covering'] }} hired for {{ opening['person_off'] }} - Day</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                <tr>
                    <td><br></td>
                </tr> 

                {% for opening in officers_night_1 %}
                    {% if opening['person_off'] == 'unavailable' %}
                        <tr>
                            <td> {{ opening['person_covering'] }} unavailable - Night</td>
                        </tr>      
                    {% else %}
                        <tr>
                            <td> {{ opening['person_covering'] }} hired for {{ opening['person_off'] }} - Night</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endif %}

            <tr>
                <th>Firefighters</th>
            </tr>
            {% if firefighters_day_1 == [] and firefighters_night_1 == [] %}
                <tr>
                    <td>No officers hiring</td>
                </tr>
            {% else %}
                {% for opening in firefighters_day_1 %}
                    {% if opening['person_off'] == 'unavailable' %}
                        <tr>
                            <td> {{ opening['person_covering'] }} unavailable - Day</td>
                        </tr>      
                    {% else %}          
                        <tr>
                            <td> {{ opening['person_covering'] }} hired for {{ opening['person_off'] }} - Day</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                <tr>
                    <td><br></td>
                </tr> 

                {% for opening in firefighters_night_1 %}
                    {% if opening['person_off'] == 'unavailable' %}
                        <tr>
                            <td> {{ opening['person_covering'] }} unavailable - Night</td>
                        </tr>      
                    {% else %}
                        <tr>
                            <td> {{ opening['person_covering'] }} hired for {{ opening['person_off'] }} - Night</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </table>
        <br>

        <h2>Second Cover Day</h2>
        <table>
            <tr>
                <th>Officers</th>
            </tr>
            {% if officers_day_2 == [] and officers_night_2 == [] %}
                <tr>
                    <td>No officers hiring</td>
                </tr>
            {% else %}
                {% for opening in officers_day_2 %}
                    {% if opening['person_off'] == 'unavailable' %}
                        <tr>
                            <td> {{ opening['person_covering'] }} unavailable - Day</td>
                        </tr>      
                    {% else %}          
                        <tr>
                            <td> {{ opening['person_covering'] }} hired for {{ opening['person_off'] }} - Day</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                <tr>
                    <td><br></td>
                </tr> 

                {% for opening in officers_night_2 %}
                    {% if opening['person_off'] == 'unavailable' %}
                        <tr>
                            <td> {{ opening['person_covering'] }} unavailable - Night</td>
                        </tr>      
                    {% else %}
                        <tr>
                            <td> {{ opening['person_covering'] }} hired for {{ opening['person_off'] }} - Night</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endif %}

            <tr>
                <th>Firefighters</th>
            </tr>
            {% if firefighters_day_2 == [] and firefighters_night_2 == [] %}
                <tr>
                    <td>No officers hiring</td>
                </tr>
            {% else %}
                {% for opening in firefighters_day_2 %}
                    {% if opening['person_off'] == 'unavailable' %}
                        <tr>
                            <td> {{ opening['person_covering'] }} unavailable - Day</td>
                        </tr>      
                    {% else %}          
                        <tr>
                            <td> {{ opening['person_covering'] }} hired for {{ opening['person_off'] }} - Day</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                <tr>
                    <td><br></td>
                </tr> 

                {% for opening in firefighters_night_2 %}
                    {% if opening['person_off'] == 'unavailable' %}
                        <tr>
                            <td> {{ opening['person_covering'] }} unavailable - Night</td>
                        </tr>      
                    {% else %}
                        <tr>
                            <td> {{ opening['person_covering'] }} hired for {{ opening['person_off'] }} - Night</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </table>
        <table>
            <tr>
                <td>
                    <button type="submit">Submit</button>
                </td>
            </tr>
        </table>
    </form>

{% endblock %}