{% extends "layout.html" %}

{% block title %}
    Hiring - Select Availability
{% endblock %}

{% block main %}
    <script src="scripts/hours.js"></script>

    <h1>Platoon {{ platoon }} Hiring</h1>
    <table>
        <tr>
            <td>Firefighter</td>
            <td>1st Cover Day</td>
            <td>Hours</td>
            <td>2nd Cover Day</td>
            <td>Hours</td>
        </tr>
            <form action="/hiring_b" class="centered" method="post">  
                {% for firefighter in session['firefighters'] %}              
                <tr>
                    <td>
                        {{ firefighter['username'] }}
                    </td>
                    <td>
                        <select class="day" id="1st_day" name="1st_day" required>
                            <option value="available">Available</option>
                            <option value="24">Unavailable 24</option>
                            <option value="day">Unavailable Day</option>
                            <option value="night">Unavailable Night</option>
                            <option value="hours">Unavailable Hours</option>
                        </select>
                    </td>
                    <td>
                        <div class="hours_1" id="hours_start_1">
                            <label for="hours_start_1">Hours unavailable:</label>
                            <input type="time" name="hours_start_1">
                        </div>
                    </td>
                    <td>
                        <div class="hours_1" id="hours_end_1">
                            <label for="hours_end_1">:</label>
                            <input type="time" name="hours_end_1">
                        </div>
                    </td>                    <td>
                        <select class="day" id="2nd_day" name="2nd_day" required>
                            <option value="available">Available</option>
                            <option value="24">Unavailable 24</option>
                            <option value="day">Unavailable Day</option>
                            <option value="night">Unavailable Night</option>
                            <option value="hours">Unavailable Hours</option>
                        </select>
                    </td>
                    <td>
                        <div class="hours_2" id="hours_input_2">
                            <label for="hours_input_2">Hours unavailable:</label>
                            <input type="time" name="hours_start_2">
                        </div>
                    </td>
                    <td>
                        <div class="hours_1" id="hours_end_2">
                            <label for="hours_end_2">:</label>
                            <input type="time" name="hours_end_2">
                        </div>
                    </td>
                </tr>
                {% endfor %}

                <tr>
                    <td>
                        <button type="submit">Submit</button>
                    </td>
                </tr>
            </form>
    </table>

        
        
{% endblock %}