{% extends "layout.html" %}

{% block title %}
    Hiring: Open Shifts
{% endblock %}

{% block head %}
    <script src="static/vacancy.js"></script>
{% endblock %}

{% block main %}
    <h1>Platoon {{ platoon }} Hiring</h1>
    <form action="/hiring_c" class="centered" method="post">  
        <h2>Platoon {{ days_covered['day_1'] }}</h2>
            <table>
                <tr>
                    <th>Officer</th>
                    <th>Status</th>
                </tr>
                {% for officer in session['cover_1_officers'] %}              
                    <tr>
                        <td>
                            {{ officer['first_name'] }} {{ officer['last_name'] }}
                        </td>
                        <td>
                            <select class="day" id="officers_1st_day_{{ loop.index }}" name="officers_1st_day_{{ loop.index }}" required>
                                <option selected value="working">Working</option>
                                <option value="24">Out 24</option>
                                <option value="day">Out Day</option>
                                <option value="night">Out Night</option>
                            </select>
                        </td>
                    </tr>
                {% endfor %}

                <tr>
                    <th>Firefighter</th>
                    <th>Status</th>
                </tr>
                {% for firefighter in session['cover_1_firefighters'] %}              
                <tr>
                    <td>
                        {{ firefighter['first_name'] }} {{ firefighter['last_name'] }}
                    </td>
                    <td>
                        <select class="day" id="firefighters_1st_day_{{ loop.index }}" name="firefighters_1st_day_{{ loop.index }}" required>
                            <option selected value="working">Working</option>
                            <option value="24">Out 24</option>
                            <option value="day">Out Day</option>
                            <option value="night">Out Night</option>
                        </select>
                    </td>
                </tr>
            {% endfor %}
        </table>
            <br/>
        <table>
            <tr>
                <h2>Platoon {{ days_covered['day_2'] }}</h2>
            </tr>
            <tr>
                <th>Officer</th>
                <th>Status</th>
            </tr>
            {% for officer in session['cover_2_officers'] %}  
                <tr>            
                    <td>
                        {{ officer['first_name'] }} {{ officer['last_name'] }}
                    </td>
                    <td>
                        <select class="day" id="officers_2nd_day_{{ loop.index }}" name="officers_2nd_day_{{ loop.index }}" required>
                            <option selected value="working">Working</option>
                            <option value="24">Out 24</option>
                            <option value="day">Out Day</option>
                            <option value="night">Out Night</option>
                        </select>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <th>Firefighter</th>
                <th>Status</th>
            </tr>
            {% for firefighter in session['cover_2_firefighters'] %}  
                <tr>            
                    <td>
                        {{ firefighter['first_name'] }} {{ firefighter['last_name'] }}
                    </td>
                    <td>
                        <select class="day" id="firefighters_2nd_day_{{ loop.index }}" name="firefighters_2nd_day_{{ loop.index }}" required>
                            <option selected value="working">Working</option>
                            <option value="24">Out 24</option>
                            <option value="day">Out Day</option>
                            <option value="night">Out Night</option>
                        </select>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td>
                    <button type="submit">Submit</button>
                </td>
            </tr>
        </table>
    </form>


{% endblock %}