{% extends "layout.html" %}

{% block title %}
    Hiring: Open Shifts
{% endblock %}

{% block main %}
    <h1>Platoon {{ platoon }} Hiring</h1>
    <form action="/hiring_c" class="centered" method="post">  
        <h2>Platoon {{ days_covered['day_1'] }}</h2>
            <table>
                <tr>
                    <th>Officer</th>
                    <th>Status</th>
                    <th>Hours</th>
                </tr>
                {% for officer in session['cover_1_officers'] %}              
                    <tr>
                        <td>
                            {{ officer['username'] }}
                        </td>
                        <td>
                            <select class="day" id="officer_1st_day_{{ loop.index }}" name="officer_1st_day_{{ loop.index }}" required>
                                <option value="Working">Working</option>
                                <option value="24">Out 24</option>
                                <option value="day">Out Day</option>
                                <option value="night">Out Night</option>
                                <option value="hours">Out Hours</option>
                            </select>
                        </td>
                        <td>
                            <div class="hours_1" id="officer_hours_1_start_{{ loop.index }}">
                                <label for="officer_hours_1_start_{{ loop.index }}">Hours out:</label>
                                <input type="time" name="officer_hours_1_start_{{ loop.index }}">
                            </div>
                        </td>
                        <td>
                            <div class="hours_1" id="officer_hours_1_end_{{ loop.index }}">
                                <label for="officer_hours_1_end_{{ loop.index }}">to</label>
                                <input type="time" name="officer_hours_1_end_{{ loop.index }}">
                            </div>
                        </td>
                    </tr>
                {% endfor %}

                <tr>
                    <th>Firefighter</th>
                    <th>Status</th>
                    <th>Hours</th>
                </tr>
                {% for firefighter in session['cover_1_firefighters'] %}              
                <tr>
                    <td>
                        {{ firefighter['username'] }}
                    </td>
                    <td>
                        <select class="day" id="ff_1st_day_{{ loop.index }}" name="ff_1st_day_{{ loop.index }}" required>
                            <option value="Working">Working</option>
                            <option value="24">Out 24</option>
                            <option value="day">Out Day</option>
                            <option value="night">Out Night</option>
                            <option value="hours">Out Hours</option>
                        </select>
                    </td>
                    <td>
                        <div class="hours_1" id="ff_hours_1_start_{{ loop.index }}">
                            <label for="ff_hours_1_start_{{ loop.index }}">Hours out:</label>
                            <input type="time" name="ff_hours_1_start_{{ loop.index }}">
                        </div>
                    </td>
                    <td>
                        <div class="hours_1" id="ff_hours_1_end_{{ loop.index }}">
                            <label for="ff_hours_1_end_{{ loop.index }}">to</label>
                            <input type="time" name="ff_hours_1_end_{{ loop.index }}">
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
            <br/>
        <table>
            <tr>
                <h2>Platoon {{ days_covered['day_2'] }}</h2>
            </tr>
            <tr>
                <th>Officer</th>
                <th>Status</th>
                <th>Hours</th>
            </tr>
            {% for officer in session['cover_2_officers'] %}  
                <tr>            
                    <td>
                        {{ officer['username'] }}
                    </td>
                    <td>
                        <select class="day" id="officer_2nd_day_{{ loop.index }}" name="officer_2nd_day_{{ loop.index }}" required>
                            <option value="available">Working</option>
                            <option value="24">Out 24</option>
                            <option value="day">Out Day</option>
                            <option value="night">Out Night</option>
                            <option value="hours">Out Hours</option>
                        </select>
                    </td>
                    <td>
                        <div class="hours_2" id="officer_hours_2_start_{{ loop.index }}">
                            <label for="officer_hours_2_start_{{ loop.index }}">Hours out:</label>
                            <input type="time" name="officer_hours_2_start_{{ loop.index }}">
                        </div>
                    </td>
                    <td>
                        <div class="hours_1" id="officer_hours_2_end_{{ loop.index }}">
                            <label for="officer_hours_2_end_{{ loop.index }}">to</label>
                            <input type="time" name="officer_hours_2_end_{{ loop.index }}">
                        </div>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <th>Firefighter</th>
                <th>Status</th>
                <th>Hours</th>
            </tr>
            {% for firefighter in session['cover_2_firefighters'] %}  
                <tr>            
                    <td>
                        {{ firefighter['username'] }}
                    </td>
                    <td>
                        <select class="day" id="ff_2nd_day_{{ loop.index }}" name="ff_2nd_day_{{ loop.index }}" required>
                            <option value="available">Working</option>
                            <option value="24">Out 24</option>
                            <option value="day">Out Day</option>
                            <option value="night">Out Night</option>
                            <option value="hours">Out Hours</option>
                        </select>
                    </td>
                    <td>
                        <div class="hours_2" id="ff_hours_2_start_{{ loop.index }}">
                            <label for="ff_hours_2_start_{{ loop.index }}">Hours out:</label>
                            <input type="time" name="ff_hours_2_start_{{ loop.index }}">
                        </div>
                    </td>
                    <td>
                        <div class="hours_1" id="ff_hours_2_end_{{ loop.index }}">
                            <label for="ff_hours_2_end_{{ loop.index }}">to</label>
                            <input type="time" name="ff_hours_2_end_{{ loop.index }}">
                        </div>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td>
                    <button type="submit">Submit</button>
                </td>
            </tr>
        </table>
    </form>


{% endblock %}