{% extends "layout.html" %}

{% block title %}
    Hiring: Select Availability
{% endblock %}

{% block main %}
    <h1>Platoon {{ platoon }} Hiring</h1>
    <form action="/hiring_b" class="centered" method="post">
        <table>
            <!-- Loop through each day and display title -->
            {% for i in range(days_covered) %}
                <tr>
                    <th>{{ cover_days[i]['day'] }}</th>
                </tr>
                
                <!-- Loop through each tier of hiring (officer and firefighter) -->
                {% for rank in hiring_tiers %}
                    <tr>
                        <th>{{ rank['tier'] }}</th>
                        <th>Status</th>
                        <th>Hours</th>
                    </tr>
                    <!-- Loop through each person in this tier of hiring (officer of firefighter) -->
                    {% for person in session['personnel'][loop.index - 1] %}
                        <tr>
                            <td>
                                {{ person['username'] }}
                            </td>
                            <td>
                                <select class="day" id="day_{{ i + 1 }}_{{ rank['tier'] }}_{{ loop.index }}" name="day_{{ i + 1 }}_{{ rank['tier'] }}_{{ loop.index }}" required>
                                    <option value="available">Available</option>
                                    <option value="24">Unavailable 24</option>
                                    <option value="day">Unavailable Day</option>
                                    <option value="night">Unavailable Night</option>
                                    <option value="hours">Unavailable Hours</option>
                                </select>
                            </td>
                            <td>
                                <label for="ntw_{{ i + 1 }}_{{ rank['tier'] }}_{{ loop.index }}">Department Business:</label>
                                <input type="checkbox" id="ntw_{{ i + 1 }}_{{ rank['tier'] }}_{{ loop.index }}" name="ntw_{{ i + 1 }}_{{ rank['tier'] }}_{{ loop.index }}" value="1">
                            </td>
                            <td>
                                <div class="hours_1" id="hours_{{ i + 1 }}_{{ rank['tier'] }}_start_{{ loop.index }}">
                                    <label for="hours_{{ i + 1 }}_{{ rank['tier'] }}_start_{{ loop.index }}">Hours unavailable:</label>
                                    <input type="time" name="hours_{{ i + 1 }}_{{ rank['tier'] }}_start_{{ loop.index }}">
                                </div>
                            </td>
                            <td>
                                <div class="hours_1" id="hours_{{ i + 1 }}_{{ rank['tier'] }}_end_{{ loop.index }}">
                                    <label for="hours_{{ i + 1 }}_{{ rank['tier'] }}_end_{{ loop.index }}">to</label>
                                    <input type="time" name="hours_{{ i + 1 }}_{{ rank['tier'] }}_end_{{ loop.index }}">
                                </div>
                            </td>                  
                        </tr>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        </table>
            <tr>
                <td>
                    <button type="submit">Submit</button>
                </td>
            </tr>
        </table>
    </form>


{% endblock %}