{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <!-- "Officer __ and Firefighter __ are up" -->
    <h1>Platoon {{ platoon }} Hiring</h1>
    <h2>First Cover Day</h2>
    <table>
        <tr>
            <th>Officers</th>
        </tr>
        {% if officers_day_1_out['first_name'] == "none" and officers_night_1_out['first_name'] == "none" %}
            <tr>
                <td>No officers hiring</td>
            </tr>
        {% else %}
            {% for out, hired in zip(officers_day_1_out, officers_day_1_hired) %}
                {% if out['first_name'] == 'unavailable' %}
                    <tr>
                        <td> {{ hired['first_name'] }} {{ hired['last_name'] }} unavailable - Day</td>
                    </tr>
                {% elif out['first_name'] == 'none' %} 
                {% else %}          
                    <tr>
                        <td> {{ hired['first_name'] }} {{ hired['last_name'] }} hired for {{ out['first_name'] }} {{ out['last_name'] }} - Day</td>
                    </tr>
                {% endif %}
            {% endfor %}
            {% if officers_day_1_hired['first_name'] != "none" %}
                <tr>
                    <td><br></td>
                </tr>
            {% endif %}
                {% for out, hired in zip(officers_night_1_out, officers_night_1_hired) %}
                {% if hired['first_name'] == 'unavailable' %}
                    <tr>
                        <td> {{ hired['first_name'] }} {{ hired['last_name'] }} unavailable - Night</td>
                    </tr>
                {% elif out['first_name'] == 'none' %}      
                {% else %}
                    <tr>
                        <td> {{ hired['first_name'] }} {{ hired['last_name'] }} hired for {{ out['first_name'] }} {{ out['last_name'] }} - Day</td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% endif %}

        <tr>
            <th>Firefighters</th>
        </tr>
        {% if firefighters_day_1_out['first_name'] == "none" and firefighters_night_1_out['first_name'] == "none" %}
            <tr>
                <td>No firefighters hiring</td>
            </tr>
        {% else %}
            {% for out, hired in zip(firefighters_day_1_out, firefighters_day_1_hired) %}
                {% if out['member_out'] == 'unavailable' %}
                    <tr>
                        <td> {{ hired['first_name'] }} {{ hired['last_name'] }} unavailable - Day</td>
                    </tr>
                {% elif out['member_out'] == 'none' %} 
                {% else %}          
                    <tr>
                        <td> {{ hired['first_name'] }} {{ hired['last_name'] }} hired for {{ out['first_name'] }} {{ out['last_name'] }} - Day</td>
                    </tr>
                {% endif %}
            {% endfor %}
            {% if firefighters_day_1_hired['first_name'] != "none" %}
                <tr>
                    <td><br></td>
                </tr>
            {% endif %}
                {% for out, hired in zip(firefighters_night_1_out, firefighters_night_1_hired) %}
                {% if hired['member_out'] == 'unavailable' %}
                    <tr>
                        <td> {{ hired['member_covering'] }} unavailable - Night</td>
                    </tr>
                {% elif out['member_out'] == 'none' %}      
                {% else %}
                    <tr>
                        <td> {{ hired['first_name'] }} {{ hired['last_name'] }} hired for {{ out['first_name'] }} {{ out['last_name'] }} - Day</td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% endif %}
    </table>
    <br>



{% endblock %}