{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block head %}
    <script src="static/print.js"></script>
{% endblock %}

{% block main %}
    <!-- "Officer __ and Firefighter __ are up" -->
    <div id="printableArea">
        <h1>Platoon {{ platoon }} Hiring</h1>
        <h2 id="date">{{ display_date }}</h2>
        <h3>First Cover Day</h3>
        <table>
            <tr>
                <th>Officers</th>
            </tr>
            {% if officers_day_1[0]['out_first'] == 'none' and officers_night_1[0]['out_first']== 'none' %}
                <tr>
                    <td>No officers hiring</td>
                </tr>
            {% else %}
                {% for opening in officers_day_1 %}
                    {% if opening['out_first'] == 'unavailable' %}
                        <tr>
                            <td> {{ opening['covering_first'] }} {{ opening['covering_last'] }} unavailable - Day</td>
                        </tr>     
                    {% elif opening['out_first'] == 'none' %} 
                    {% else %}          
                        <tr>
                            <td> {{ opening['covering_first'] }} {{ opening['covering_last'] }} hired for {{ opening['out_first'] }} {{ opening['out_last'] }} - Day</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                {% if officers_day_1 != [] %}
                    <tr>
                        <td><br></td>
                    </tr>
                {% endif %}

                {% for opening in officers_night_1 %}
                    {% if opening['out_first'] == 'unavailable' %}
                        <tr>
                            <td> {{ opening['covering_first'] }} {{ opening['covering_last'] }} unavailable - Night</td>
                        </tr>      
                        {% elif opening['out_first'] == 'none' %} 
                        {% else %}
                        <tr>
                            <td> {{ opening['covering_first'] }} {{ opening['covering_last'] }} hired for {{ opening['out_first'] }} {{ opening['out_last'] }}  - Night</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endif %}

            <tr>
                <th>Firefighters</th>
            </tr>
            {% if firefighters_day_1[0]['out_first'] == 'none' and firefighters_night_1[0]['out_first']== 'none' %}
                <tr>
                    <td>No officers hiring</td>
                </tr>
            {% else %}
                {% for opening in firefighters_day_1 %}
                    {% if opening['out_first'] == 'unavailable' %}
                        <tr>
                            <td> {{ opening['covering_first'] }} {{ opening['covering_last'] }} unavailable - Day</td>
                        </tr>      
                        {% elif opening['out_first'] == 'none' %} 
                        {% else %}
                        <tr>
                            <td> {{ opening['covering_first'] }} {{ opening['covering_last'] }} hired for {{ opening['out_first'] }} {{ opening['out_last'] }}  - Day</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                {% if firefighters_day_1 != [] %}
                    <tr>
                        <td><br></td>
                    </tr>
                {% endif %}

                {% for opening in firefighters_night_1 %}
                    {% if opening['out_first'] == 'unavailable' %}
                        <tr>
                            <td> {{ opening['covering_first'] }} {{ opening['covering_last'] }} unavailable - Night</td>
                        </tr>      
                        {% elif opening['out_first'] == 'none' %} 
                        {% else %}
                        <tr>
                            <td> {{ opening['covering_first'] }} {{ opening['covering_last'] }} hired for {{ opening['out_first'] }} {{ opening['out_last'] }}  - Night</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </table>
        <br>

        <h3>Second Cover Day</h3>
        <table>
            <tr>
                <th>Officers</th>
            </tr>
            {% if officers_day_2[0]['out_first'] == 'none' and officers_night_2[0]['out_first']== 'none' %}
                <tr>
                    <td>No officers hiring</td>
                </tr>
            {% else %}
                {% for opening in officers_day_2 %}
                    {% if opening['out_first'] == 'unavailable' %}
                        <tr>
                            <td> {{ opening['covering_first'] }} {{ opening['covering_last'] }} unavailable - Day</td>
                        </tr>      
                        {% elif opening['out_first'] == 'none' %} 
                        {% else %}
                        <tr>
                            <td> {{ opening['covering_first'] }} {{ opening['covering_last'] }} hired for {{ opening['out_first'] }} {{ opening['out_last'] }}  - Day</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                {% if officers_day_2 != [] %}
                    <tr>
                        <td><br></td>
                    </tr>
                {% endif %}

                {% for opening in officers_night_2 %}
                    {% if opening['out_first'] == 'unavailable' %}
                        <tr>
                            <td> {{ opening['covering_first'] }} {{ opening['covering_last'] }} unavailable - Night</td>
                        </tr>      
                        {% elif opening['out_first'] == 'none' %} 
                        {% else %}
                        <tr>
                            <td> {{ opening['covering_first'] }} {{ opening['covering_last'] }} hired for {{ opening['out_first'] }} {{ opening['out_last'] }}  - Night</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endif %}

            <tr>
                <th>Firefighters</th>
            </tr>
            {% if firefighters_day_2[0]['out_first'] == 'none' and firefighters_night_2[0]['out_first']== 'none' %}
                <tr>
                    <td>No officers hiring</td>
                </tr>
            {% else %}
                {% for opening in firefighters_day_2 %}
                    {% if opening['out_first'] == 'unavailable' %}
                        <tr>
                            <td> {{ opening['covering_first'] }} {{ opening['covering_last'] }} unavailable - Day</td>
                        </tr>      
                        {% elif opening['out_first'] == 'none' %} 
                        {% else %}
                        <tr>
                            <td> {{ opening['covering_first'] }} {{ opening['covering_last'] }} hired for {{ opening['out_first'] }} {{ opening['out_last'] }}  - Day</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                {% if firefighters_day_2 != [] %}
                    <tr>
                        <td><br></td>
                    </tr>
                {% endif %}

                {% for opening in firefighters_night_2 %}
                    {% if opening['out_first'] == 'unavailable' %}
                        <tr>
                            <td> {{ opening['covering_first'] }} {{ opening['covering_last'] }} unavailable - Night</td>
                        </tr>      
                        {% elif opening['out_first'] == 'none' %} 
                        {% else %}
                        <tr>
                            <td> {{ opening['covering_first'] }} {{ opening['covering_last'] }} hired for {{ opening['out_first'] }} {{ opening['out_last'] }}  - Night</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </table>
    </div>
    <button id="print" type="button">Print</button>

{% endblock %}