{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
    <div class="box login-box">
        <div class="center">
            <img class="login-patch" src="static/patch.png">
            <form action="/login" class="login" method="post">
                <input autocomplete="off" class="text login-text" id="username" name="username" placeholder="Username" type="text">
                <input autocomplete="off" class="text login-text" id="password" name="password" placeholder="Password" type="password">
                <button class="button block" type="submit">Log in</button>
            </form>
        </div>
    </div>

{% endblock %}