{% extends "layout.html" %}

{% block title %}
    Manual Hiring - Select Platoon
{% endblock %}

{% block main %}
    <div class="box">
        <h1 class="title">Tag Board Override</h1>
        <h5>Select covering platoon:</h5>
        <form action="/manual_a" method="post">
            <select class="select-main" id="platoon" name="platoon">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
            <br>
            <button class="button" type="submit">Submit</button>
        </form>
    </div>

{% endblock %}