{% extends "layout.html" %}

{% block title %}
    Manual Hiring - Select Platoon
{% endblock %}

{% block main %}
    <h1 class="title">Tag Board Override</h1>
    <h5>Select covering platoon:</h5>
    <form action="/manual_a" method="post">
        <select id="platoon" name="platoon">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
        <br>
        <button type="submit">Submit</button>
    </form>
{% endblock %}