{% extends "layout.html" %}

{% block title %}
    WatchOffice: Off-Shift Hiring: Select Shifts
{% endblock %}

{% block main %}
    <div class="box">
        <h1 class="title">96-Off Hiring</h1>
        <h5>Enter shift to be hired for from the 96-off:</h5>

        <form action="/off_shift" method="post">
            <div>
                <label for="member">Member:</label>
                <select class="select-main" id="member_out" name="member_out">
                    {% for member in members %}
                        <option value="{{ member['id'] }}">{{ member['last_name'] }}, {{ member['first_name'] }}</option>
                    {% endfor %}
                </select>
            </div>

            <div>
                <label for="date" class="label">Date:</label>
                <input class="text" id="date" name="date" type="date">
            </div>

            <div>
                <label for="shift">Shift:</label>
                <select class="select-main" name="shift">
                    <option value="24">24</option>
                    <option value="day">Day</option>
                    <option value="night">Night</option>
                    <option value="hours">Hours</option>
                </select>
            </div>

            <div class="off_shift_hours">
                <label for="hours_start">Hours: </label>
                <input class="text" name="hours_start" type="time">
                <label for="hours_end"> to </label>
                <input class="text" name="hours_end" type="time">
            </div>

            <div>
                <label for="day_out">Enter platoon calling order:</label>
                <div class="platoon_order">
                    <select class="select-main" name="1st_platoon">
                        <option value="0">-</option>
                        <option value="1">Platoon 1</option>
                        <option value="2">Platoon 2</option>
                        <option value="3">Platoon 3</option>
                        <option value="4">Platoon 4</option>
                    </select>
                    <select class="select-main" name="2nd_platoon">
                        <option value="0">-</option>
                        <option value="1">Platoon 1</option>
                        <option value="2">Platoon 2</option>
                        <option value="3">Platoon 3</option>
                        <option value="4">Platoon 4</option>
                    </select>
                    <select class="select-main" name="3rd_platoon">
                        <option value="0">-</option>
                        <option value="1">Platoon 1</option>
                        <option value="2">Platoon 2</option>
                        <option value="3">Platoon 3</option>
                        <option value="4">Platoon 4</option>
                    </select>
                </div>

            </div>

            <button class="button" type="submit">Submit</button>
        </form>
        
    </div>
{% endblock %}